In [1]:
import pandas as pd

In [2]:
import numpy as nm

In [3]:
df = pd.read_csv("student_performance.csv")

In [4]:
df

,math_score,reading_score,writing_score,placement_score,club_join_date,placement_offer_count
0,70.0,82.0,70.0,97.0,2018.0,1
1,61.0,91.0,77.0,NaN,2018.0,1
2,78.0,75.0,67.0,87.0,2018.0,3
3,65.0,78.0,66.0,75.0,2020.0,2
4,64.0,NaN,76.0,93.0,2021.0,3
5,70.0,78.0,76.0,79.0,2019.0,2
6,78.0,75.0,75.0,95.0,2019.0,3
7,73.0,75.0,74.0,85.0,2020.0,3
8,NaN,85.0,67.0,90.0,2018.0,3
9,73.0,87.0,60.0,100.0,2021.0,3
10,79.0,90.0,75.0,85.0,NaN,3
11,62.0,94.0,77.0,79.0,2019.0,2
12,72.0,80.0,71.0,77.0,2021.0,2
13,78.0,91.0,69.0,98.0,2018.0,1
14,65.0,90.0,NaN,80.0,2019.0,2
15,75.0,76.0,70.0,99.0,2019.0,3
16,67.0,89.0,77.0,86.0,2019.0,3
17,71.0,78.0,74.0,91.0,2020.0,3
18,68.0,78.0,75.0,79.0,2018.0,2
19,78.0,91.0,68.0,78.0,2021.0,2
20,63.0,77.0,62.0,93.0,2018.0,3
21,63.0,90.0,70.0,98.0,2019.0,3
22,73.0,84.0,79.0,78.0,2018.0,2
23,69.0,88.0,78.0,81.0,2020.0,2
24,74.0,78.0,67.0,83.0,2019.0,2
25,76.0,75.0,74.0,87.0,2018.0,3
26,64.0,86.0,76.0,87.0,2018.0,3
27,67.0,91.0,66.0,99.0,2018.0,3
28,64.0,83.0,69.0,83.0,2021.0,2
29,68.0,84.0,68.0,80.0,2018.0,2
30,78.0,91.0,68.0,81.0,2020.0,2

In [5]:
df.isnull()

,math_score,reading_score,writing_score,placement_score,club_join_date,placement_offer_count
0,False,False,False,False,False,False
1,False,False,False,True,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,True,False,False,False,False
5,False,False,False,False,False,False
6,False,False,False,False,False,False
7,False,False,False,False,False,False
8,True,False,False,False,False,False
9,False,False,False,False,False,False
10,False,False,False,False,True,False
11,False,False,False,False,False,False
12,False,False,False,False,False,False
13,False,False,False,False,False,False
14,False,False,True,False,False,False
15,False,False,False,False,False,False
16,False,False,False,False,False,False
17,False,False,False,False,False,False
18,False,False,False,False,False,False
19,False,False,False,False,False,False
20,False,False,False,False,False,False
21,False,False,False,False,False,False
22,False,False,False,False,False,False
23,False,False,False,False,False,False
24,False,False,False,False,False,False
25,False,False,False,False,False,False
26,False,False,False,False,False,False
27,False,False,False,False,False,False
28,False,False,False,False,False,False
29,False,False,False,False,False,False
30,False,False,False,False,False,False

In [6]:
df.notnull()

,math_score,reading_score,writing_score,placement_score,club_join_date,placement_offer_count
0,True,True,True,True,True,True
1,True,True,True,False,True,True
2,True,True,True,True,True,True
3,True,True,True,True,True,True
4,True,False,True,True,True,True
5,True,True,True,True,True,True
6,True,True,True,True,True,True
7,True,True,True,True,True,True
8,False,True,True,True,True,True
9,True,True,True,True,True,True
10,True,True,True,True,False,True
11,True,True,True,True,True,True
12,True,True,True,True,True,True
13,True,True,True,True,True,True
14,True,True,False,True,True,True
15,True,True,True,True,True,True
16,True,True,True,True,True,True
17,True,True,True,True,True,True
18,True,True,True,True,True,True
19,True,True,True,True,True,True
20,True,True,True,True,True,True
21,True,True,True,True,True,True
22,True,True,True,True,True,True
23,True,True,True,True,True,True
24,True,True,True,True,True,True
25,True,True,True,True,True,True
26,True,True,True,True,True,True
27,True,True,True,True,True,True
28,True,True,True,True,True,True
29,True,True,True,True,True,True
30,True,True,True,True,True,True

In [7]:
df

,math_score,reading_score,writing_score,placement_score,club_join_date,placement_offer_count
0,70.0,82.0,70.0,97.0,2018.0,1
1,61.0,91.0,77.0,NaN,2018.0,1
2,78.0,75.0,67.0,87.0,2018.0,3
3,65.0,78.0,66.0,75.0,2020.0,2
4,64.0,NaN,76.0,93.0,2021.0,3
5,70.0,78.0,76.0,79.0,2019.0,2
6,78.0,75.0,75.0,95.0,2019.0,3
7,73.0,75.0,74.0,85.0,2020.0,3
8,NaN,85.0,67.0,90.0,2018.0,3
9,73.0,87.0,60.0,100.0,2021.0,3
10,79.0,90.0,75.0,85.0,NaN,3
11,62.0,94.0,77.0,79.0,2019.0,2
12,72.0,80.0,71.0,77.0,2021.0,2
13,78.0,91.0,69.0,98.0,2018.0,1
14,65.0,90.0,NaN,80.0,2019.0,2
15,75.0,76.0,70.0,99.0,2019.0,3
16,67.0,89.0,77.0,86.0,2019.0,3
17,71.0,78.0,74.0,91.0,2020.0,3
18,68.0,78.0,75.0,79.0,2018.0,2
19,78.0,91.0,68.0,78.0,2021.0,2
20,63.0,77.0,62.0,93.0,2018.0,3
21,63.0,90.0,70.0,98.0,2019.0,3
22,73.0,84.0,79.0,78.0,2018.0,2
23,69.0,88.0,78.0,81.0,2020.0,2
24,74.0,78.0,67.0,83.0,2019.0,2
25,76.0,75.0,74.0,87.0,2018.0,3
26,64.0,86.0,76.0,87.0,2018.0,3
27,67.0,91.0,66.0,99.0,2018.0,3
28,64.0,83.0,69.0,83.0,2021.0,2
29,68.0,84.0,68.0,80.0,2018.0,2
30,78.0,91.0,68.0,81.0,2020.0,2

In [8]:
series = pd.notnull(df)

In [9]:
series

,math_score,reading_score,writing_score,placement_score,club_join_date,placement_offer_count
0,True,True,True,True,True,True
1,True,True,True,False,True,True
2,True,True,True,True,True,True
3,True,True,True,True,True,True
4,True,False,True,True,True,True
5,True,True,True,True,True,True
6,True,True,True,True,True,True
7,True,True,True,True,True,True
8,False,True,True,True,True,True
9,True,True,True,True,True,True
10,True,True,True,True,False,True
11,True,True,True,True,True,True
12,True,True,True,True,True,True
13,True,True,True,True,True,True
14,True,True,False,True,True,True
15,True,True,True,True,True,True
16,True,True,True,True,True,True
17,True,True,True,True,True,True
18,True,True,True,True,True,True
19,True,True,True,True,True,True
20,True,True,True,True,True,True
21,True,True,True,True,True,True
22,True,True,True,True,True,True
23,True,True,True,True,True,True
24,True,True,True,True,True,True
25,True,True,True,True,True,True
26,True,True,True,True,True,True
27,True,True,True,True,True,True
28,True,True,True,True,True,True
29,True,True,True,True,True,True
30,True,True,True,True,True,True

In [10]:
s1 = pd.isnull(df)

In [11]:
s1

,math_score,reading_score,writing_score,placement_score,club_join_date,placement_offer_count
0,False,False,False,False,False,False
1,False,False,False,True,False,False
2,False,False,False,False,False,False
3,False,False,False,False,False,False
4,False,True,False,False,False,False
5,False,False,False,False,False,False
6,False,False,False,False,False,False
7,False,False,False,False,False,False
8,True,False,False,False,False,False
9,False,False,False,False,False,False
10,False,False,False,False,True,False
11,False,False,False,False,False,False
12,False,False,False,False,False,False
13,False,False,False,False,False,False
14,False,False,True,False,False,False
15,False,False,False,False,False,False
16,False,False,False,False,False,False
17,False,False,False,False,False,False
18,False,False,False,False,False,False
19,False,False,False,False,False,False
20,False,False,False,False,False,False
21,False,False,False,False,False,False
22,False,False,False,False,False,False
23,False,False,False,False,False,False
24,False,False,False,False,False,False
25,False,False,False,False,False,False
26,False,False,False,False,False,False
27,False,False,False,False,False,False
28,False,False,False,False,False,False
29,False,False,False,False,False,False
30,False,False,False,False,False,False

In [12]:
df[s1]

,math_score,reading_score,writing_score,placement_score,club_join_date,placement_offer_count
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
s2 = pd.isnull(df["math_score"])

In [14]:
df[s2]

,math_score,reading_score,writing_score,placement_score,club_join_date,placement_offer_count
8,NaN,85.0,67.0,90.0,2018.0,3

In [15]:
s2 = pd.isnull(df[:])

In [16]:
df[s2]

,math_score,reading_score,writing_score,placement_score,club_join_date,placement_offer_count
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN
30,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df.isnull().values.any()

True

In [18]:
df.isnull().values

array([[False, False, False, False, False, False],
       [False, False, False,  True, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False,  True, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [ True, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False,  True, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False,  True, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False],
       [False, False, False, False, False, False]])

In [19]:
ndf = df

In [20]:
ndf.fillna(0)

,math_score,reading_score,writing_score,placement_score,club_join_date,placement_offer_count
0,70.0,82.0,70.0,97.0,2018.0,1
1,61.0,91.0,77.0,0.0,2018.0,1
2,78.0,75.0,67.0,87.0,2018.0,3
3,65.0,78.0,66.0,75.0,2020.0,2
4,64.0,0.0,76.0,93.0,2021.0,3
5,70.0,78.0,76.0,79.0,2019.0,2
6,78.0,75.0,75.0,95.0,2019.0,3
7,73.0,75.0,74.0,85.0,2020.0,3
8,0.0,85.0,67.0,90.0,2018.0,3
9,73.0,87.0,60.0,100.0,2021.0,3
10,79.0,90.0,75.0,85.0,0.0,3
11,62.0,94.0,77.0,79.0,2019.0,2
12,72.0,80.0,71.0,77.0,2021.0,2
13,78.0,91.0,69.0,98.0,2018.0,1
14,65.0,90.0,0.0,80.0,2019.0,2
15,75.0,76.0,70.0,99.0,2019.0,3
16,67.0,89.0,77.0,86.0,2019.0,3
17,71.0,78.0,74.0,91.0,2020.0,3
18,68.0,78.0,75.0,79.0,2018.0,2
19,78.0,91.0,68.0,78.0,2021.0,2
20,63.0,77.0,62.0,93.0,2018.0,3
21,63.0,90.0,70.0,98.0,2019.0,3
22,73.0,84.0,79.0,78.0,2018.0,2
23,69.0,88.0,78.0,81.0,2020.0,2
24,74.0,78.0,67.0,83.0,2019.0,2
25,76.0,75.0,74.0,87.0,2018.0,3
26,64.0,86.0,76.0,87.0,2018.0,3
27,67.0,91.0,66.0,99.0,2018.0,3
28,64.0,83.0,69.0,83.0,2021.0,2
29,68.0,84.0,68.0,80.0,2018.0,2
30,78.0,91.0,68.0,81.0,2020.0,2

In [21]:
m_v = ndf["math_score"].mean()

In [22]:
ndf["math_score"].fillna(value=m_v , inplace=True)

In [23]:
ndf

,math_score,reading_score,writing_score,placement_score,club_join_date,placement_offer_count
0,70.0,82.0,70.0,97.0,2018.0,1
1,61.0,91.0,77.0,NaN,2018.0,1
2,78.0,75.0,67.0,87.0,2018.0,3
3,65.0,78.0,66.0,75.0,2020.0,2
4,64.0,NaN,76.0,93.0,2021.0,3
5,70.0,78.0,76.0,79.0,2019.0,2
6,78.0,75.0,75.0,95.0,2019.0,3
7,73.0,75.0,74.0,85.0,2020.0,3
8,70.2,85.0,67.0,90.0,2018.0,3
9,73.0,87.0,60.0,100.0,2021.0,3
10,79.0,90.0,75.0,85.0,NaN,3
11,62.0,94.0,77.0,79.0,2019.0,2
12,72.0,80.0,71.0,77.0,2021.0,2
13,78.0,91.0,69.0,98.0,2018.0,1
14,65.0,90.0,NaN,80.0,2019.0,2
15,75.0,76.0,70.0,99.0,2019.0,3
16,67.0,89.0,77.0,86.0,2019.0,3
17,71.0,78.0,74.0,91.0,2020.0,3
18,68.0,78.0,75.0,79.0,2018.0,2
19,78.0,91.0,68.0,78.0,2021.0,2
20,63.0,77.0,62.0,93.0,2018.0,3
21,63.0,90.0,70.0,98.0,2019.0,3
22,73.0,84.0,79.0,78.0,2018.0,2
23,69.0,88.0,78.0,81.0,2020.0,2
24,74.0,78.0,67.0,83.0,2019.0,2
25,76.0,75.0,74.0,87.0,2018.0,3
26,64.0,86.0,76.0,87.0,2018.0,3
27,67.0,91.0,66.0,99.0,2018.0,3
28,64.0,83.0,69.0,83.0,2021.0,2
29,68.0,84.0,68.0,80.0,2018.0,2
30,78.0,91.0,68.0,81.0,2020.0,2

In [24]:
ndf.replace(to_replace = nm.nan ,value = -9999999)

,math_score,reading_score,writing_score,placement_score,club_join_date,placement_offer_count
0,70.0,82.0,70.0,97.0,2018.0,1
1,61.0,91.0,77.0,-9999999.0,2018.0,1
2,78.0,75.0,67.0,87.0,2018.0,3
3,65.0,78.0,66.0,75.0,2020.0,2
4,64.0,-9999999.0,76.0,93.0,2021.0,3
5,70.0,78.0,76.0,79.0,2019.0,2
6,78.0,75.0,75.0,95.0,2019.0,3
7,73.0,75.0,74.0,85.0,2020.0,3
8,70.2,85.0,67.0,90.0,2018.0,3
9,73.0,87.0,60.0,100.0,2021.0,3
10,79.0,90.0,75.0,85.0,-9999999.0,3
11,62.0,94.0,77.0,79.0,2019.0,2
12,72.0,80.0,71.0,77.0,2021.0,2
13,78.0,91.0,69.0,98.0,2018.0,1
14,65.0,90.0,-9999999.0,80.0,2019.0,2
15,75.0,76.0,70.0,99.0,2019.0,3
16,67.0,89.0,77.0,86.0,2019.0,3
17,71.0,78.0,74.0,91.0,2020.0,3
18,68.0,78.0,75.0,79.0,2018.0,2
19,78.0,91.0,68.0,78.0,2021.0,2
20,63.0,77.0,62.0,93.0,2018.0,3
21,63.0,90.0,70.0,98.0,2019.0,3
22,73.0,84.0,79.0,78.0,2018.0,2
23,69.0,88.0,78.0,81.0,2020.0,2
24,74.0,78.0,67.0,83.0,2019.0,2
25,76.0,75.0,74.0,87.0,2018.0,3
26,64.0,86.0,76.0,87.0,2018.0,3
27,67.0,91.0,66.0,99.0,2018.0,3
28,64.0,83.0,69.0,83.0,2021.0,2
29,68.0,84.0,68.0,80.0,2018.0,2
30,78.0,91.0,68.0,81.0,2020.0,2

In [25]:
df

,math_score,reading_score,writing_score,placement_score,club_join_date,placement_offer_count
0,70.0,82.0,70.0,97.0,2018.0,1
1,61.0,91.0,77.0,NaN,2018.0,1
2,78.0,75.0,67.0,87.0,2018.0,3
3,65.0,78.0,66.0,75.0,2020.0,2
4,64.0,NaN,76.0,93.0,2021.0,3
5,70.0,78.0,76.0,79.0,2019.0,2
6,78.0,75.0,75.0,95.0,2019.0,3
7,73.0,75.0,74.0,85.0,2020.0,3
8,70.2,85.0,67.0,90.0,2018.0,3
9,73.0,87.0,60.0,100.0,2021.0,3
10,79.0,90.0,75.0,85.0,NaN,3
11,62.0,94.0,77.0,79.0,2019.0,2
12,72.0,80.0,71.0,77.0,2021.0,2
13,78.0,91.0,69.0,98.0,2018.0,1
14,65.0,90.0,NaN,80.0,2019.0,2
15,75.0,76.0,70.0,99.0,2019.0,3
16,67.0,89.0,77.0,86.0,2019.0,3
17,71.0,78.0,74.0,91.0,2020.0,3
18,68.0,78.0,75.0,79.0,2018.0,2
19,78.0,91.0,68.0,78.0,2021.0,2
20,63.0,77.0,62.0,93.0,2018.0,3
21,63.0,90.0,70.0,98.0,2019.0,3
22,73.0,84.0,79.0,78.0,2018.0,2
23,69.0,88.0,78.0,81.0,2020.0,2
24,74.0,78.0,67.0,83.0,2019.0,2
25,76.0,75.0,74.0,87.0,2018.0,3
26,64.0,86.0,76.0,87.0,2018.0,3
27,67.0,91.0,66.0,99.0,2018.0,3
28,64.0,83.0,69.0,83.0,2021.0,2
29,68.0,84.0,68.0,80.0,2018.0,2
30,78.0,91.0,68.0,81.0,2020.0,2

In [26]:
ndf.dropna()

,math_score,reading_score,writing_score,placement_score,club_join_date,placement_offer_count
0,70.0,82.0,70.0,97.0,2018.0,1
2,78.0,75.0,67.0,87.0,2018.0,3
3,65.0,78.0,66.0,75.0,2020.0,2
5,70.0,78.0,76.0,79.0,2019.0,2
6,78.0,75.0,75.0,95.0,2019.0,3
7,73.0,75.0,74.0,85.0,2020.0,3
8,70.2,85.0,67.0,90.0,2018.0,3
9,73.0,87.0,60.0,100.0,2021.0,3
11,62.0,94.0,77.0,79.0,2019.0,2
12,72.0,80.0,71.0,77.0,2021.0,2
13,78.0,91.0,69.0,98.0,2018.0,1
15,75.0,76.0,70.0,99.0,2019.0,3
16,67.0,89.0,77.0,86.0,2019.0,3
17,71.0,78.0,74.0,91.0,2020.0,3
18,68.0,78.0,75.0,79.0,2018.0,2
19,78.0,91.0,68.0,78.0,2021.0,2
20,63.0,77.0,62.0,93.0,2018.0,3
21,63.0,90.0,70.0,98.0,2019.0,3
22,73.0,84.0,79.0,78.0,2018.0,2
23,69.0,88.0,78.0,81.0,2020.0,2
24,74.0,78.0,67.0,83.0,2019.0,2
25,76.0,75.0,74.0,87.0,2018.0,3
26,64.0,86.0,76.0,87.0,2018.0,3
27,67.0,91.0,66.0,99.0,2018.0,3
28,64.0,83.0,69.0,83.0,2021.0,2
29,68.0,84.0,68.0,80.0,2018.0,2
30,78.0,91.0,68.0,81.0,2020.0,2

In [27]:
ndf.dropna(axis=1)

    math_score  placement_offer_count
0         70.0                      1
1         61.0                      1
2         78.0                      3
3         65.0                      2
4         64.0                      3
5         70.0                      2
6         78.0                      3
7         73.0                      3
8         70.2                      3
9         73.0                      3
10        79.0                      3
11        62.0                      2
12        72.0                      2
13        78.0                      1
14        65.0                      2
15        75.0                      3
16        67.0                      3
17        71.0                      3
18        68.0                      2
19        78.0                      2
20        63.0                      3
21        63.0                      3
22        73.0                      2
23        69.0                      2
24        74.0                      2
25        76.0                      3
26        64.0                      3
27        67.0                      3
28        64.0                      2
29        68.0                      2
30        78.0                      2

In [28]:
new_data = ndf.dropna(axis = 0, how ='any')
new_data

,math_score,reading_score,writing_score,placement_score,club_join_date,placement_offer_count
0,70.0,82.0,70.0,97.0,2018.0,1
2,78.0,75.0,67.0,87.0,2018.0,3
3,65.0,78.0,66.0,75.0,2020.0,2
5,70.0,78.0,76.0,79.0,2019.0,2
6,78.0,75.0,75.0,95.0,2019.0,3
7,73.0,75.0,74.0,85.0,2020.0,3
8,70.2,85.0,67.0,90.0,2018.0,3
9,73.0,87.0,60.0,100.0,2021.0,3
11,62.0,94.0,77.0,79.0,2019.0,2
12,72.0,80.0,71.0,77.0,2021.0,2
13,78.0,91.0,69.0,98.0,2018.0,1
15,75.0,76.0,70.0,99.0,2019.0,3
16,67.0,89.0,77.0,86.0,2019.0,3
17,71.0,78.0,74.0,91.0,2020.0,3
18,68.0,78.0,75.0,79.0,2018.0,2
19,78.0,91.0,68.0,78.0,2021.0,2
20,63.0,77.0,62.0,93.0,2018.0,3
21,63.0,90.0,70.0,98.0,2019.0,3
22,73.0,84.0,79.0,78.0,2018.0,2
23,69.0,88.0,78.0,81.0,2020.0,2
24,74.0,78.0,67.0,83.0,2019.0,2
25,76.0,75.0,74.0,87.0,2018.0,3
26,64.0,86.0,76.0,87.0,2018.0,3
27,67.0,91.0,66.0,99.0,2018.0,3
28,64.0,83.0,69.0,83.0,2021.0,2
29,68.0,84.0,68.0,80.0,2018.0,2
30,78.0,91.0,68.0,81.0,2020.0,2

In [42]:
ndf

,math_score,reading_score,writing_score,placement_score,club_join_date,placement_offer_count
0,70.0,82.0,70.0,97.0,2018.0,1
2,78.0,75.0,67.0,87.0,2018.0,3
3,65.0,78.0,66.0,75.0,2020.0,2
5,70.0,78.0,76.0,79.0,2019.0,2
6,78.0,75.0,75.0,95.0,2019.0,3
7,73.0,75.0,74.0,85.0,2020.0,3
8,70.2,85.0,67.0,90.0,2018.0,3
9,73.0,87.0,60.0,100.0,2021.0,3
11,62.0,94.0,77.0,79.0,2019.0,2
12,72.0,80.0,71.0,77.0,2021.0,2
13,78.0,91.0,69.0,98.0,2018.0,1
15,75.0,76.0,70.0,99.0,2019.0,3
16,67.0,89.0,77.0,86.0,2019.0,3
17,71.0,78.0,74.0,91.0,2020.0,3
18,68.0,78.0,75.0,79.0,2018.0,2
19,78.0,91.0,68.0,78.0,2021.0,2
20,63.0,77.0,62.0,93.0,2018.0,3
21,63.0,90.0,70.0,98.0,2019.0,3
22,73.0,84.0,79.0,78.0,2018.0,2
23,69.0,88.0,78.0,81.0,2020.0,2
24,74.0,78.0,67.0,83.0,2019.0,2
25,76.0,75.0,74.0,87.0,2018.0,3
26,64.0,86.0,76.0,87.0,2018.0,3
27,67.0,91.0,66.0,99.0,2018.0,3
28,64.0,83.0,69.0,83.0,2021.0,2
29,68.0,84.0,68.0,80.0,2018.0,2
30,78.0,91.0,68.0,81.0,2020.0,2

In [43]:
ndf

,math_score,reading_score,writing_score,placement_score,club_join_date,placement_offer_count
0,70.0,82.0,70.0,97.0,2018.0,1
2,78.0,75.0,67.0,87.0,2018.0,3
3,65.0,78.0,66.0,75.0,2020.0,2
5,70.0,78.0,76.0,79.0,2019.0,2
6,78.0,75.0,75.0,95.0,2019.0,3
7,73.0,75.0,74.0,85.0,2020.0,3
8,70.2,85.0,67.0,90.0,2018.0,3
9,73.0,87.0,60.0,100.0,2021.0,3
11,62.0,94.0,77.0,79.0,2019.0,2
12,72.0,80.0,71.0,77.0,2021.0,2
13,78.0,91.0,69.0,98.0,2018.0,1
15,75.0,76.0,70.0,99.0,2019.0,3
16,67.0,89.0,77.0,86.0,2019.0,3
17,71.0,78.0,74.0,91.0,2020.0,3
18,68.0,78.0,75.0,79.0,2018.0,2
19,78.0,91.0,68.0,78.0,2021.0,2
20,63.0,77.0,62.0,93.0,2018.0,3
21,63.0,90.0,70.0,98.0,2019.0,3
22,73.0,84.0,79.0,78.0,2018.0,2
23,69.0,88.0,78.0,81.0,2020.0,2
24,74.0,78.0,67.0,83.0,2019.0,2
25,76.0,75.0,74.0,87.0,2018.0,3
26,64.0,86.0,76.0,87.0,2018.0,3
27,67.0,91.0,66.0,99.0,2018.0,3
28,64.0,83.0,69.0,83.0,2021.0,2
29,68.0,84.0,68.0,80.0,2018.0,2
30,78.0,91.0,68.0,81.0,2020.0,2

In [44]:
col = ["math_score" , "reading_score" , "writing_score", "placement_score"]

In [46]:
df.boxplot(col)

KeyError: "['placement_score'] not in index"

In [47]:
df

,math_score,reading_score,writing_score,placement_score,club_join_date,placement_offer_count
0,70.0,82.0,70.0,97.0,2018.0,1
1,61.0,91.0,77.0,NaN,2018.0,1
2,78.0,75.0,67.0,87.0,2018.0,3
3,65.0,78.0,66.0,75.0,2020.0,2
4,64.0,NaN,76.0,93.0,2021.0,3
5,70.0,78.0,76.0,79.0,2019.0,2
6,78.0,75.0,75.0,95.0,2019.0,3
7,73.0,75.0,74.0,85.0,2020.0,3
8,70.2,85.0,67.0,90.0,2018.0,3
9,73.0,87.0,60.0,100.0,2021.0,3
10,79.0,90.0,75.0,85.0,NaN,3
11,62.0,94.0,77.0,79.0,2019.0,2
12,72.0,80.0,71.0,77.0,2021.0,2
13,78.0,91.0,69.0,98.0,2018.0,1
14,65.0,90.0,NaN,80.0,2019.0,2
15,75.0,76.0,70.0,99.0,2019.0,3
16,67.0,89.0,77.0,86.0,2019.0,3
17,71.0,78.0,74.0,91.0,2020.0,3
18,68.0,78.0,75.0,79.0,2018.0,2
19,78.0,91.0,68.0,78.0,2021.0,2
20,63.0,77.0,62.0,93.0,2018.0,3
21,63.0,90.0,70.0,98.0,2019.0,3
22,73.0,84.0,79.0,78.0,2018.0,2
23,69.0,88.0,78.0,81.0,2020.0,2
24,74.0,78.0,67.0,83.0,2019.0,2
25,76.0,75.0,74.0,87.0,2018.0,3
26,64.0,86.0,76.0,87.0,2018.0,3
27,67.0,91.0,66.0,99.0,2018.0,3
28,64.0,83.0,69.0,83.0,2021.0,2
29,68.0,84.0,68.0,80.0,2018.0,2
30,78.0,91.0,68.0,81.0,2020.0,2

In [48]:
df.fillna(0)

,math_score,reading_score,writing_score,placement_score,club_join_date,placement_offer_count
0,70.0,82.0,70.0,97.0,2018.0,1
1,61.0,91.0,77.0,0.0,2018.0,1
2,78.0,75.0,67.0,87.0,2018.0,3
3,65.0,78.0,66.0,75.0,2020.0,2
4,64.0,0.0,76.0,93.0,2021.0,3
5,70.0,78.0,76.0,79.0,2019.0,2
6,78.0,75.0,75.0,95.0,2019.0,3
7,73.0,75.0,74.0,85.0,2020.0,3
8,70.2,85.0,67.0,90.0,2018.0,3
9,73.0,87.0,60.0,100.0,2021.0,3
10,79.0,90.0,75.0,85.0,0.0,3
11,62.0,94.0,77.0,79.0,2019.0,2
12,72.0,80.0,71.0,77.0,2021.0,2
13,78.0,91.0,69.0,98.0,2018.0,1
14,65.0,90.0,0.0,80.0,2019.0,2
15,75.0,76.0,70.0,99.0,2019.0,3
16,67.0,89.0,77.0,86.0,2019.0,3
17,71.0,78.0,74.0,91.0,2020.0,3
18,68.0,78.0,75.0,79.0,2018.0,2
19,78.0,91.0,68.0,78.0,2021.0,2
20,63.0,77.0,62.0,93.0,2018.0,3
21,63.0,90.0,70.0,98.0,2019.0,3
22,73.0,84.0,79.0,78.0,2018.0,2
23,69.0,88.0,78.0,81.0,2020.0,2
24,74.0,78.0,67.0,83.0,2019.0,2
25,76.0,75.0,74.0,87.0,2018.0,3
26,64.0,86.0,76.0,87.0,2018.0,3
27,67.0,91.0,66.0,99.0,2018.0,3
28,64.0,83.0,69.0,83.0,2021.0,2
29,68.0,84.0,68.0,80.0,2018.0,2
30,78.0,91.0,68.0,81.0,2020.0,2

In [49]:
df.boxplot(col)

KeyError: "['placement_score'] not in index"

In [51]:
dff = pd.read_csv("student_performance.csv")

In [52]:
dff

,math_score,reading_score,writing_score,placement_score,club_join_date,placement_offer_count
0,70.0,82.0,70.0,97.0,2018.0,1
1,61.0,91.0,77.0,NaN,2018.0,1
2,78.0,75.0,67.0,87.0,2018.0,3
3,65.0,78.0,66.0,75.0,2020.0,2
4,64.0,NaN,76.0,93.0,2021.0,3
5,70.0,78.0,76.0,79.0,2019.0,2
6,78.0,75.0,75.0,95.0,2019.0,3
7,73.0,75.0,74.0,85.0,2020.0,3
8,NaN,85.0,67.0,90.0,2018.0,3
9,73.0,87.0,60.0,100.0,2021.0,3
10,79.0,90.0,75.0,85.0,NaN,3
11,62.0,94.0,77.0,79.0,2019.0,2
12,72.0,80.0,71.0,77.0,2021.0,2
13,78.0,91.0,69.0,98.0,2018.0,1
14,65.0,90.0,NaN,80.0,2019.0,2
15,75.0,76.0,70.0,99.0,2019.0,3
16,67.0,89.0,77.0,86.0,2019.0,3
17,71.0,78.0,74.0,91.0,2020.0,3
18,68.0,78.0,75.0,79.0,2018.0,2
19,78.0,91.0,68.0,78.0,2021.0,2
20,63.0,77.0,62.0,93.0,2018.0,3
21,63.0,90.0,70.0,98.0,2019.0,3
22,73.0,84.0,79.0,78.0,2018.0,2
23,69.0,88.0,78.0,81.0,2020.0,2
24,74.0,78.0,67.0,83.0,2019.0,2
25,76.0,75.0,74.0,87.0,2018.0,3
26,64.0,86.0,76.0,87.0,2018.0,3
27,67.0,91.0,66.0,99.0,2018.0,3
28,64.0,83.0,69.0,83.0,2021.0,2
29,68.0,84.0,68.0,80.0,2018.0,2
30,78.0,91.0,68.0,81.0,2020.0,2

In [55]:
dff.dropna()

,math_score,reading_score,writing_score,placement_score,club_join_date,placement_offer_count
0,70.0,82.0,70.0,97.0,2018.0,1
2,78.0,75.0,67.0,87.0,2018.0,3
3,65.0,78.0,66.0,75.0,2020.0,2
5,70.0,78.0,76.0,79.0,2019.0,2
6,78.0,75.0,75.0,95.0,2019.0,3
7,73.0,75.0,74.0,85.0,2020.0,3
9,73.0,87.0,60.0,100.0,2021.0,3
11,62.0,94.0,77.0,79.0,2019.0,2
12,72.0,80.0,71.0,77.0,2021.0,2
13,78.0,91.0,69.0,98.0,2018.0,1
15,75.0,76.0,70.0,99.0,2019.0,3
16,67.0,89.0,77.0,86.0,2019.0,3
17,71.0,78.0,74.0,91.0,2020.0,3
18,68.0,78.0,75.0,79.0,2018.0,2
19,78.0,91.0,68.0,78.0,2021.0,2
20,63.0,77.0,62.0,93.0,2018.0,3
21,63.0,90.0,70.0,98.0,2019.0,3
22,73.0,84.0,79.0,78.0,2018.0,2
23,69.0,88.0,78.0,81.0,2020.0,2
24,74.0,78.0,67.0,83.0,2019.0,2
25,76.0,75.0,74.0,87.0,2018.0,3
26,64.0,86.0,76.0,87.0,2018.0,3
27,67.0,91.0,66.0,99.0,2018.0,3
28,64.0,83.0,69.0,83.0,2021.0,2
29,68.0,84.0,68.0,80.0,2018.0,2
30,78.0,91.0,68.0,81.0,2020.0,2

In [64]:
coll = ["math_score",	"reading_score",	"writing_score"]

In [65]:
dff.boxplot(coll)

AssertionError: 2

In [67]:
print(nm.where(df['math score']>90))
print(nm.where(df['reading score']<25))
print(nm.where(df['writing score']<30))

KeyError: 'math score'